.card-table {
  margin: 2em 0;
}

form {
  margin: 0 1em 1em 0;
}

form .mat-checkbox {
  margin-right: 1.5em;
}

::ng-deep .hide-checkbox .mat-pseudo-checkbox {
  display: none;
}

::ng-deep label.mat-checkbox-layout {
  width: 5em;
}

table td.mat-cell {
  width: 5em;
  margin: 0;
  padding: 0;
}

td.cell:nth-child(odd) {
  background-color: #ff6991;
  margin: .5em;
}

td.cell:nth-child(even) {
  background-color: #69ffd7;
  margin: .5em;
}
