/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,700;1,200&display=swap");

html,
body {
  height: 100%;
}
body {
  width: 100%;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  // font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

/* Main CSS file */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif !important;
  margin: 0.4em 0 !important;
}

p {
  margin: 0;
  font-size: 1.1em;
  line-height: 1.5em;
  font-weight: 300 !important;
}

.mat-app-background {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87);
}

// hr {
//   border: 0.05em solid #f2f2f2;
//   margin: 0 5em;
// }

button.raised-button {
  background-color: #fa8072 !important;
  color: #fff !important;
  margin: 1em 0 !important;
  padding: 0.7rem !important;
  border: none !important;
  border-radius: 0.2rem !important;
  font-size: 0.9rem;
}

table {
  width: 100%;
  margin-bottom: 5em;
}

table th,
table td {
  text-align: center;
}

.header {
  font-family: "Playfair Display", serif !important;
  font-size: 3.3em !important;
  line-height: 1.3em !important;
  font-weight: 600 !important;
  color: #455a64 !important;
  margin: 1em !important;
  text-align: center !important;
}

.sub-header {
  font-family: "Nunito Sans", sans-serif !important;
  font-size: 1.3rem !important;
  font-weight: 600 !important;
}

/* General master class styles */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.clear-spacing {
  margin: 0 !important;
  padding: 0 !important;
}

.clear-margin {
  margin: 0 !important;
}

.clear-padding {
  padding: 0 !important;
}

.top-space-xs {
  margin-top: 0.25rem !important;
}

.top-space-sm {
  margin-top: 0.5rem !important;
}

.top-space-md {
  margin-top: 1rem !important;
}

.top-space-lg {
  margin-top: 2rem !important;
}

.top-space-xl {
  margin-top: 4rem !important;
}

.bottom-space-xs {
  margin-bottom: 0.25rem !important;
}

.bottom-space-sm {
  margin-bottom: 0.5rem !important;
}

.bottom-space-md {
  margin-bottom: 1rem !important;
}

.bottom-space-lg {
  margin-bottom: 2rem !important;
}

.bottom-space-xl {
  margin-bottom: 4rem !important;
}

.color-green {
  background-color: #21c1a2 !important;
}

.color-red {
  background-color: #fa8072 !important;
  // color: #fff !important;
}

.color-yellow {
  background-color: #fbb03b !important;
}
