<div class="container top-space-md bottom-space-lg">
  <div class="flex-row mat-typography">
    <div class="section-heading">
      <h1 class="title">
        Learning <br />
        Notebook
      </h1>
      <p>Welcome to my learning Notebook.</p>
      <p>
        I am a passionate Front-end developer with a strong love for coding. I
        built this application to learn and explore Angular, as well as other
        frameworks and libraries. While still on my learning journey, I am
        committed to continuous growth and improvement.
      </p>
      <button class="raised-button">To be continued ...</button>
    </div>

    <section class="image-header">
      <img src="./assets/png/startup.png" alt="Header Image" width="500" />
    </section>
  </div>

  <mat-divider></mat-divider>

  <div class="flex-row">
    <div class="flex-column">
      <h1 class="header">Learn</h1>
      <div class="flex-row-wrap">
        <mat-card class="card">
          <h1>Angular</h1>
          <p>Getting started with Angular.</p>
          <button class="raised-button" routerLink="learn-ng">View More</button>
        </mat-card>
        <mat-card class="card">
          <h1>React</h1>
          <p>Getting started with React.</p>
          <button class="raised-button" routerLink="learn-react">
            View More
          </button>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="flex-row">
    <div class="flex-column">
      <h1 class="header">Angular</h1>
      <h3 class="text-center sub-header">Tables</h3>
      <div class="flex-row-wrap card-container">
        <mat-card class="card">
          <h1>Basic</h1>
          <p>Basic use of mat-table</p>
          <button class="raised-button" routerLink="table">View More</button>
        </mat-card>
        <mat-card class="card">
          <h1>Changing</h1>
          <p>Table dynamically changing the columns displayed</p>
          <button class="raised-button" routerLink="table-changing">
            View More
          </button>
        </mat-card>
        <mat-card class="card">
          <h1>Expandable</h1>
          <p>Table with expandable rows</p>
          <button class="raised-button" routerLink="table-expanded">
            View More
          </button>
        </mat-card>
        <mat-card class="card">
          <h1>Responsive</h1>
          <p>Basic use of mat-table using CSS and display flex.</p>
          <button class="raised-button" routerLink="table-responsive">
            View More
          </button>
        </mat-card>
        <mat-card class="card">
          <h1>Hidden Columns</h1>
          <p>Table with the option to hide columns.</p>
          <button class="raised-button" routerLink="table-hidden">
            View More
          </button>
        </mat-card>
        <mat-card class="card">
          <h1>Re-order Columns</h1>
          <p>Table with drag and drop columns.</p>
          <button class="raised-button" routerLink="table-reorder">
            View More
          </button>
        </mat-card>
        <mat-card class="card">
          <h1>Export Table</h1>
          <p>Export table to PDF format.</p>
          <button class="raised-button" routerLink="table-super">
            View More
          </button>
        </mat-card>
        <mat-card class="card">
          <h1>Heatmap Table</h1>
          <p>Different heatmap tables.</p>
          <button class="raised-button" routerLink="table-heatmap">
            View More
          </button>
        </mat-card>
      </div>
    </div>
  </div>
</div>
