<div class="container top-space-md bottom-space-lg">
  <div class="flex-row mat-typography">
    <div class="section-heading">
      <h1 class="title">
        Freelance <br />
        Developer
      </h1>
      <p>Welcome to my portfolio.</p>
      <br />
      <p>
        I'm a web developer with knowledge in front-end and and back-end
        development and I love to code!
      </p>
      <p>
        Provident similique accusantium nemo autem. Veritatis obcaecati tenetur
        iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet
        aliquid culpa officia aut! Impedit sit sunt quaerat, odit, tenetur
        error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit, quia.
      </p>
      <button class="raised-button">View More</button>
    </div>

    <section class="image-header">
      <img src="./assets/png/code.png" alt="Header Image" width="500" />
    </section>
  </div>

  <mat-divider></mat-divider>

  <div class="flex-row">
    <div class="flex-column">
      <h1 class="header">Learn</h1>
      <div class="flex-row-wrap">
        <mat-card class="card">
          <h1>Angular</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="raised-button" routerLink="learn-ng">View More</button>
        </mat-card>
        <mat-card class="card">
          <h1>React</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="raised-button" routerLink="learn-react">View More</button>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="flex-row">
    <div class="flex-column">
      <h1 class="header">Angular</h1>
      <h3 class="text-center sub-header">Tables</h3>
      <div class="flex-row-wrap card-container">
        <mat-card class="card">
          <h1>Basic</h1>
          <p>Basic use of mat-table</p>
          <button class="raised-button" routerLink="table">View More</button>
        </mat-card>
        <mat-card class="card">
          <h1>Changing</h1>
          <p>Table dynamically changing the columns displayed</p>
          <button class="raised-button" routerLink="table-changing">
            View More
          </button>
        </mat-card>
        <mat-card class="card">
          <h1>Expandable</h1>
          <p>Table with expandable rows</p>
          <button class="raised-button" routerLink="table-expanded">
            View More
          </button>
        </mat-card>
        <mat-card class="card">
          <h1>Responsive</h1>
          <p>Basic use of mat-table using CSS and display flex</p>
          <button class="raised-button" routerLink="table-responsive">
            View More
          </button>
        </mat-card>
        <mat-card class="card">
          <h1>Hidden Columns</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="raised-button" routerLink="table-hidden">View More</button>
        </mat-card>
        <mat-card class="card">
          <h1>Re-order Columns</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="raised-button" routerLink="table-reorder">
            View More
          </button>
        </mat-card>
        <mat-card class="card">
          <h1>All-In-One</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="raised-button" routerLink="table-super">View More</button>
        </mat-card>
      </div>
    </div>
  </div>
</div>
